*{
  padding: 0;
  margin: 0;
}
body{
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Akaya Kanadaka', cursive; */
}
:root{
  --primary:indianred;
  --secondary:rgba(15,10,29,0.849);
  --light:#747679;
}
header{
  height: 100vh;
  width: 100%;
}
.nav1{
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 2px 0 3px gray;
  text-align: center;
}
.nav1 .left{
  flex-basis: 50%;
  letter-spacing: 2px;
}
.nav1 .left a{
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  margin: 0px 5px;
}
.right{
  flex-basis: 50%;
}
.right i{
  font-size: 20px;
  margin: 0 15px;
  background-color: var(--primary);
  color: white;
  padding:8px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.nav1 .right i:hover{
  transform: rotate(360deg);
}
/* End nav1  */

/* nav2 start  */
.nav2{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.nav2 .nav2-left,.nav2 .nav2-center,.nav2 .nav2-right{
  flex-basis: 30%;
  margin: auto;
  cursor: pointer;
}
.nav2 .nav2-left i{
  margin-left: 15px;
}
.nav2 .nav2-center h2{
  color: var(--primary);
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: bold;
}

.nav2 .nav2-center h2 span{
  color: var(--light);
}